<!DOCTYPE html>
<head>
    <title> Home Status </title>
</head>
<body>
    <div>
        <h1> 家の状態 </h1>
        <ul>
            <li> 気温: {{ temperature }}  </li>
            <li> 湿度: {{ humidity }} </li>
            <li> 最終計測: {{ timestamp }} </li>
        </ul>
    </div>
</body>